<div style="text-align: center; background-color: #559cff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
 Final Project -Programming for  Data Science @ FIT-HCMUS, VNU-HCM üìå
</div>

<div style="text-align: center; font-family: 'Trebuchet MS', Arial, sans-serif; padding: 20px; font-size: 25px; font-weight: bold; border-radius: 0 0 0 0">
  TOPIC: ANALYSIS ON GOOGLE PLAY STORE APP
</div>

STUDENT INFORMATION:
- 21127038 - V√µ Ph√∫ H√£n
- 21127351 - H·ªì ƒêinh Duy L·ª±c

OVERVIEW OF THE TOPIC:
- Reason forchoosing topic:

DATASET INFORMATION:
- Source:
- License:

# Data Exploration - Preprocessing

## Import Library

In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import pandas as pd
import numpy as np

# with pd.option_context('display.max_rows', None, 'display.max_columns', None):

## Exploring data

### Read raw data from file

In [2]:
apps_df = pd.read_csv("../Data/Raw/googleplaystore.csv")

### How many rows and how many columns?

In [3]:
# Shape of dateset
shape = apps_df.shape
print(f'Number of rows: {shape[0]}')
print(f'Number of columns: {shape[1]}')

Number of rows: 10840
Number of columns: 13

### What is the meaning of each row?

In [4]:
apps_df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite ‚Äì FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

Each row contains information of an application on Google Play Store.

### Are there duplicated rows?

In [5]:
app = apps_df['App']
detectDupSeries = app.duplicated(keep='first')
# detectDupSeries = apps_df.duplicated(keep='first')
num_duplicated_rows = detectDupSeries.sum()
print(f'The data have {num_duplicated_rows} duplicated rows')

The data have 1181 duplicated rows

So we're going to drop duplicated rows.

In [6]:
apps_df.drop_duplicates(subset='App', keep='first', inplace=True)
# apps_df.drop_duplicates(keep='first', inplace=True)
apps_df.shape

(9659, 13)

### What is the meaning of each column?

**Apps dataset columns descriptions:**

This file contains all the details of the apps on Google Play. There are 13 features that describe a given app.

- **App**: Name of the app
- **Category**: Category of the app. Some examples are: ART_AND_DESIGN, FINANCE, COMICS, BEAUTY etc.
- **Rating**: The current average rating (out of 5) of the app on Google Play.
- **Reviews**: Number of user reviews given on the app.
- **Size**: Size of the app in MB (megabytes).
- **Installs**: Number of times the app was downloaded from Google Play
- **Type**: Whether the app is paid or free.
- **Price**: Price of the app in US$
- **Last Updated**: Date on which the app was last updated on Google Play
- **Content Rating**: Subject the app aim to.
- **Genres**: Type of the application.
- **Current Ver**: Newest version that has been released by the publisher.
- **Android Ver**: The cofiguration that devices need in order to work properly.rk properly.roperly.yd or fr Google Play

###  What is the current data type of each column? Are there columns having inappropriate data types?

In [7]:
apps_df.dtypes

App                object
Category           object
Rating            float64
Reviews             int64
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

We observe that `Installs`, `Price`, `Size` should have *numeric* datatype and `Last Updated` should has *datetime* datatype.

`Installs` feature also should has numeric datatype. First, we will remove non-digit charater in this columns, then, convert them to numeric.

In [8]:
apps_df['Installs'] = apps_df['Installs'].str.replace(r'\D', '', regex=True)
apps_df['Installs'] = pd.to_numeric(apps_df['Installs'], errors='raise')

In `Price` column, first, we'll find out what make them be non-numeric.

In [9]:
price_series = apps_df['Price']
strange_data = price_series[~price_series.str.isnumeric()]
strange_data

234       $4.99
235       $4.99
427       $3.99
476       $3.99
477       $6.99
          ...
10734     $0.99
10759     $7.99
10781    $16.99
10784     $1.20
10797     $1.04
Name: Price, Length: 756, dtype: object

At first, we predict that the '$' at the head makes them being strings. Eliminating this character does not affecting our dataset, so we should remove them. However, to be more carefully, we would check whether there are any non-number characters in this column.

In [10]:
strange_data[~strange_data.str.contains(r'\$')]

Series([], Name: Price, dtype: object)

Now, we see all problems that make the column "non-numeric". We'll handle them.

In [11]:
apps_df['Price'] = apps_df['Price'].str.replace(r'\$', '', regex=True)
apps_df['Price'] = pd.to_numeric(apps_df['Price'], errors='raise')

Now, we would convert `Last Updated` to *datetime*.

In [12]:
apps_df['Last Updated'] = pd.to_datetime(apps_df['Last Updated'], format="%d-%b-%y", errors='raise')

To pre-process `Size`, we would split the size number and their unit to new column. Then, we would scale them in to the same unit (M) because some apps have size value in 'k' instead of 'M'

In [13]:
def SizeUnit(str): # return the unit of size
    if str[-1] == 'M':
        return 'M'
    elif str[-1] == 'k':
        return 'k'
    elif str == 'Varies with device':
        return 'Varies with device'

# create new column to store size unit
apps_df['Size Unit'] = apps_df['Size'].apply(lambda x: SizeUnit(x))
# remove unit attached to size
apps_df['Size'] = apps_df['Size'].apply(lambda x: x[:-1])
# replace unclear size by np.nan
apps_df['Size'] = apps_df['Size'].replace('Varies with devic', np.nan)

# change all value to the same scale
apps_df['Size'] = pd.to_numeric(apps_df['Size'], errors='raise')
apps_df['Size'] = np.where(apps_df['Size Unit'] == 'k', apps_df['Size']/1024, apps_df['Size'])

# drop 'Size Unit' because it is no longer neccessary
apps_df.drop(columns='Size Unit', inplace=True)

Double check on data type.

In [14]:
apps_df.dtypes

App                       object
Category                  object
Rating                   float64
Reviews                    int64
Size                     float64
Installs                   int64
Type                      object
Price                    float64
Content Rating            object
Genres                    object
Last Updated      datetime64[ns]
Current Ver               object
Android Ver               object
dtype: object

Now, they seem appropriate for analysing!!!

### With each numerical column, how are values distributed?

In [15]:
num_col_info_df = apps_df.select_dtypes(include='number')

def missing_ratio(s):
    return (s.isna().mean() * 100).round(1)

def median(df):
    return (df.quantile(0.5)).round(1)

def lower_quartile(df):
    return (df.quantile(0.25)).round(1)

def upper_quartile(df):
    return (df.quantile(0.75)).round(1)

num_col_info_df = num_col_info_df.agg([missing_ratio, 'mean', 'min', lower_quartile, median, upper_quartile, 'max'])
num_col_info_df

                   Rating       Reviews        Size      Installs       Price
missing_ratio   15.100000  0.000000e+00   12.700000  0.000000e+00    0.000000
mean             4.173243  2.165926e+05   20.394897  7.777507e+06    1.099299
min              1.000000  0.000000e+00    0.008301  0.000000e+00    0.000000
lower_quartile   4.000000  2.500000e+01    4.600000  1.000000e+03    0.000000
median           4.300000  9.670000e+02   12.000000  1.000000e+05    0.000000
upper_quartile   4.500000  2.940100e+04   28.000000  1.000000e+06    0.000000
max              5.000000  7.815831e+07  100.000000  1.000000e+09  400.000000

The data have nothing abnormal. However, there are some missing values with small ratio - smaller than 20%, so we're going to fill them.
- For `Rating`, we would fill them with the mean of each `Category`, because the difference between *mean* and *median* is not significant.
- For `Size`, we would fill them with the median of each `Category`, because the *mean* is very different from the *median*.

In [16]:
apps_df['Rating'] = apps_df.groupby('Category')['Rating'].transform(lambda x: x.fillna(x.mean()))
apps_df['Size'] = apps_df.groupby('Category')['Size'].transform(lambda x: x.fillna(x.median()))

In [17]:
# double check on numeric columns
num_col_info_df = apps_df.select_dtypes(include='number')
num_col_info_df = num_col_info_df.agg([missing_ratio, 'mean', 'min', lower_quartile, median, upper_quartile, 'max'])
num_col_info_df

                 Rating       Reviews        Size      Installs       Price
missing_ratio   0.00000  0.000000e+00    0.000000  0.000000e+00    0.000000
mean            4.17223  2.165926e+05   19.439002  7.777507e+06    1.099299
min             1.00000  0.000000e+00    0.008301  0.000000e+00    0.000000
lower_quartile  4.00000  2.500000e+01    5.000000  1.000000e+03    0.000000
median          4.20000  9.670000e+02   11.000000  1.000000e+05    0.000000
upper_quartile  4.50000  2.940100e+04   26.000000  1.000000e+06    0.000000
max             5.00000  7.815831e+07  100.000000  1.000000e+09  400.000000

### With each categorical column, how are values distributed?

In [18]:
cat_col_info_df = apps_df.select_dtypes(include='object')

def missing_ratio(s):
    return (s.isna().mean() * 100).round(1)

def num_values(s):
    s = s.str.split(';')
    s = s.explode()
    return len(s.value_counts())

def value_counts(s):
    s = s.str.split(';')
    s = s.explode()
    return (s.value_counts()).to_dict()

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_counts])
cat_col_info_df

,App,Category,Type,Content Rating,Genres,Current Ver,Android Ver
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.1,0.0
num_values,9659,33,2,6,53,2768,33
value_counts,{'Photo Editor & Candy Camera & Grid & ScrapBo...,"{'FAMILY': 1832, 'GAME': 959, 'TOOLS': 827, 'B...","{'Free': 8902, 'Paid': 756}","{'Everyone': 7903, 'Teen': 1036, 'Mature 17+':...","{'Tools': 827, 'Education': 678, 'Entertainmen...","{'Varies with device': 1055, '1': 831, '1.1': ...","{'4.1 and up': 2202, '4.0.3 and up': 1395, '4...."

The data do not seem abnormal. However, we notice that: 
- `Category` and `Genres` seem to have the same meaning, so we would drop `Geners` column.
- `Current Ver` has 0.1% missing ratio. However, we can not really exploit so much information from this column, so we gonna drop it instead of filling them with some value.

In [19]:
apps_df.drop(columns=['Genres', 'Current Ver'], inplace=True)

In [20]:
# double check on category columns
cat_col_info_df = apps_df.select_dtypes(include='object')
cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_counts])
cat_col_info_df

,App,Category,Type,Content Rating,Android Ver
missing_ratio,0.0,0.0,0.0,0.0,0.0
num_values,9659,33,2,6,33
value_counts,{'Photo Editor & Candy Camera & Grid & ScrapBo...,"{'FAMILY': 1832, 'GAME': 959, 'TOOLS': 827, 'B...","{'Free': 8902, 'Paid': 756}","{'Everyone': 7903, 'Teen': 1036, 'Mature 17+':...","{'4.1 and up': 2202, '4.0.3 and up': 1395, '4...."

We have another data type `datetime` which we have not checked yet.

In [28]:
datetime_ratio = apps_df['Last Updated'].isna().mean() * 100
print(f"Missing ratio of 'Last Updated': {datetime_ratio}")

Missing ratio of 'Last Updated': 0.0

Now, we have finished pre-process the data!!!

## Save the cleaned data

In [21]:
print(f"Total number of features: {apps_df.shape[1]}")
apps_df.dtypes

Total number of features: 11

App                       object
Category                  object
Rating                   float64
Reviews                    int64
Size                     float64
Installs                   int64
Type                      object
Price                    float64
Content Rating            object
Last Updated      datetime64[ns]
Android Ver               object
dtype: object

In [24]:
apps_df.to_csv("../Data/Processed/cleaned_data.csv", index=False)